/*Importar fuentes descargadas*/
@font-face {
    font-family: sora;
    src: url(../fonts/Sora/static/Sora-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sora;

    /*variables*/
    --morado: #7C19EE;
    --lila: #F2EAFD;
    --gris: #E1E2E4;
    --blanco1: #FAFAF9;
    --blanco: #FFFFFF;
    --negro: #20293A;
    --piedra: #6A6F7B;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.author-info {
    font-size: 10px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55,65,81);
}

.author-info a {
    text-decoration: none;
    color: var(--morado);
}

.container{
    margin-top: 164px;
    width: 368px;
    height: 341px;
    border: 0.5px solid var(--blanco1);
    background-color: var(--blanco);
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
}

.card {
    width: 368px;
    height: 184px;
    display: flex;
    align-items: center;
}

.card img {
    width: 336px;
    height: 152px;
    display: flex;
    justify-content:center;
    margin: 16px;
    border-radius: 5px;
}

.design {
    font-size: 0.625rem;
    padding: 6px 16px;
    border-radius: 50px;
    background-color: var(--lila);
    color: var(--morado);
    font-weight: bold;
    border: 0.5 solid var(--lila);
    margin-left: 16px;
    margin-bottom: 16px;
}

h1{
    font-size: 1.125rem;
    padding-left: 16px;
    padding-bottom: 6px;
    color: var(--negro);
}

.text {
    font-size: 0.875rem;
    padding-left: 16px;
    padding-bottom: 20px;
    color: var(--piedra);
}

.author {
    font-size: 0.75rem;
    padding-left: 16px;
    color: var(--piedra);
    padding-bottom: 20px;
    text-align:justify;
    padding-top: 2+0px;
    border-top: 1px solid var(--gris);
}
